
<a href="/">Internal Link</a> </br>
</br>
First name :<input type="text" name="firstname"> </br>
</br>
Last name :<input type="text" name="lastname"> </br>
</br>
<u>Gender</u> </br> </br>
Male<input type="radio" name="male" value="on">
Female<input type="radio" name="female" value="on"> </br>
</br>
you are a </br> </br>
student <input type="checkbox" name="student" value="on"> </br>
employed<input type="checkbox" name="employed" value="on"> </br>
unemployed<input type="checkbox" name="unemployed" value="on"> </br> </br>
Enter your msg : </br>
<textarea rows="5" cols="50" name="description">
Enter your msg here plz..
</textarea> </br> </br>
<b>cities </b></br>
<select name="dropdown">
    <option value="">Select</option>
    <% @cities.each do |city| %>
       <option value="<%= city.id %>"><%= city.name %></option>
   <% end %>
    </select>

<input type="submit" name="submit" value="Submit" /> <br/>
